/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-item{
  
  transform: translateY(.5rem);
  transition: .3S cubic-bezier(0.25, 0.46, 0.45, 0.94);
opacity: .7;
  a{
border-bottom: 2px solid transparent;
  }
}
 .nav-item:hover{
 opacity: 1;
  transform: translateY(.3rem) scale(1.1);
  a{
 border-bottom: 2px solid #1e293b;
  }
 }

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer { 
  font-size: 1rem;
  width: 100%;
  height: auto;
  white-space: nowrap;
  line-height: 60px;
  display: flex;
  justify-content: space-around
}

@media (max-width: 992px){
  .footer { 
 white-space: wrap;
 position: static;
 flex-direction: column;
  justify-content: center;
  }

  .nav-item{
    opacity: 1;
  }
    .nav-item:hover{
      transform: scale(1);
  }
  
}